{% import 'macros.html' as macro %}
{% extends 'base.html'%}

    

    <body>
        {% block content %}
        <h1 style="text-align:center"> ARTICLES </h1>
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center"></div>
        <ul>
            {% for articles in articles %}
                <li style="list-style-type:none; font: size 24px; text-align:center"><h3> {{ articles.title}} </h3></li>
                <li style="list-style-type:none"><p> {{ articles.description }} </p></li>
                <li style="list-style-type:none; text-align:center"><img src="{{articles.urlToImage}}" alt="Image"> </li>
                <li style="list-style-type:none; text-align:center"><p> {{ articles.publishedAt }} by {{ articles.author }} </p></li>
                <li style="list-style-type:none; text-align:center"><a href="{{ articles.url }}" class="btn btn-primary">Click Here To Get The Full Story</a> </li>
                
                <hr> 
            {% endfor %}
            {% endblock %}
        </ul>
        </div>
        <div class="col-md-3"></div>
        </body>